@model IEnumerable<ProyectoCampus.Entities.ProfesorObj>

@{
    ViewData["Title"] = "Profesores";
}

<h1 style="color:white;">Profesores</h1>

<a asp-action="CreateProfesor"><button type="button" class="btn btn-primary">Registrar Nuevo</button></a>
<br>
<br>

<table class="table" id="dataTable" style="color:white;">
    <thead>
        <tr>
            <th>
                Cédula
            </th>
            <th>
                Nombre
            </th>
            <th>
               Primer Apellido
            </th>
            <th>
                Segundo Apellido
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="color:black;">
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido2)
                </td>
                <td>
                    <a href='@Url.Action("EditProfesor", "Profesor", new { idProfesor = item.IdProfesor})'>
                        <button type="button" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                    </a> |
                      <button type="button" class="btn btn-danger" id="btnTR" onclick="DltProfesor(this, @item.IdProfesor)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

