@model ProyectoCampus.Entities.EstudianteObj

@{
    ViewData["Title"] = "Estudiantes";
}

<h1 style="color:white;">Modificar Estudiante</h1>
<hr />

<div class="row">
    <div class="col-md-4" style="color:white;">
         @using (Html.BeginForm("EditEstudiante", "Estudiante", FormMethod.Post))
        {
            <div class="form-group">
                Cédula
                @Html.TextBoxFor(model => model.Cedula ,new {@class = "form-control", @style="background-color: white;color: black"})
                @Html.HiddenFor(model => model.idEstudiante)
            </div>
            <div class="form-group">
                Nombre
                @Html.TextBoxFor(model => model.Nombre ,new {@class = "form-control", @style="background-color: white;color: black"})
            </div>
            <div class="form-group">
                Primer Apellido
                @Html.TextBoxFor(model => model.Apellido1 ,new {@class = "form-control", @style="background-color: white;color: black"})
            </div>
            <div class="form-group">
                Segundo Apellido
                @Html.TextBoxFor(model => model.Apellido2 ,new {@class = "form-control", @style="background-color: white;color: black"})
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary submitBTN" />
            </div>
        }
    </div>
</div>

<a href='@Url.Action("ListEstudiante", "Estudiante")'>
    <button type="button" class="btn btn-light"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar a la lista</button>
</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
